[Unit]
Description=SmartTSA
After=network.target
Conflicts=getty@tty1.service

[Service]
Type=simple
WorkingDirectory=/home/ubuntu/SmartTSA
ExecStart=/usr/bin/python -m freqtrade trade --config config.json --strategy SmartTSA
StandardInput=tty-force
Restart=always
User=root
Group=admin

[Install]
WantedBy=multi-user.target